{{ form_start (form,{'attr': {'novalidate': 'novalidate'}} )}}

<table class="table">
        <tr>
            <td>{{ form_label (form.start, "Start Time") }}</td>
            <td>{{ form_widget (form.start) }}</td>
            <td>{{ form_errors (form.start) }}</td>
        </tr>
        <tr>
            <td>{{ form_label (form.end, "End Time") }}</td>
            <td>{{ form_widget (form.end) }}</td>
            <td>{{ form_errors (form.end) }}</td>
        </tr>
        <tr>
            <td>{{ form_label (form.all_Day, "All day") }}</td>
            <td>{{ form_widget (form.all_Day) }}</td>
            <td>{{ form_errors (form.all_Day) }}</td>
        </tr>
        <tr>
            <td>{{ form_label (form.background_color, "Background Color") }}</td>
            <td>{{ form_widget (form.background_color) }}</td>
            <td>{{ form_errors (form.background_color) }}</td>
        </tr>
        <tr>
            <td>{{ form_label (form.border_color, "Border Color") }}</td>
            <td>{{ form_widget (form.border_color) }}</td>
            <td>{{ form_errors (form.border_color) }}</td>
        </tr>

        <tr>
            <td>{{ form_label (form.text_color, "Text Color") }}</td>
            <td>{{ form_widget (form.text_color) }}</td>
            <td>{{ form_errors (form.text_color) }}</td>
        </tr>
        
        <tr>
            <td>{{ form_label (form.cours, "Cour") }}</td>
            <td>{{ form_widget (form.cours) }}</td>
            <td>{{ form_errors (form.cours) }}</td>
        </tr>
    
</table>

<div style="padding-top:20px;">
    <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
    <button class="btn btn-secondary">Delete</button>
    <button class="btn btn-secondary"  href="{{ path('app_planning_index') }}"> Back to list</button>
</div>


{{ form_end (form) }}
